.contact-card{
    z-index: -1;
    opacity: 0;
    position: absolute;     
    pointer-events: none;
    visibility: hidden;   
    overflow-y: auto;
}

.contact-wrap{
    display: flex;    
    align-items: center;
}

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 335px;
    background: #fff;
    height: 100%;
    max-height: 602px;
    min-height: 450px;
    border-radius: 20px;
    min-width: 285px;
}
.contact-form h3{
    margin-top: 35px;
    font-size: 2.7rem;
    color: #00a9a4;
    padding-bottom: 26px;
    font-weight: 700;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 262px;
    height: 100%;
}

form label {
    width: 100%;
    padding-bottom: 25px;
}

form label input{
    width: 98%;
    background: #e6e6e682;
    height: 31px;
    border: none;
    font-size: 1.2rem;
    padding-left: 8px;
}

textarea{
    border: none;
    background: #f2f2f2;
    resize: none;
    margin-bottom: 40px;
    height: 100%;
    padding: 5px 0px 0px 8px;
    font-size: 1.3rem;
    width: 98%;
}

form button{
    background: #008e8a;
    border: none;
    font-size: 15px;
    border-radius: 47px;
    color: #fff;
    font-weight: 600;
    width: 100%;
    max-width: 263px;
    height: 100%;
    margin-bottom: 25px;
    max-height: 29px;
    transition: background 0.25s ease-in-out;
}
form button:hover{
    background: #00afaa;
}
.contact-wrap section{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;   
}

#map iframe{
    width: 100%;
    height:100%;
    max-height: 602px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    padding-left: 26px;
    min-height: 320px;
}