  
.portfolio-card{
    z-index: -1;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    visibility: hidden;  
    display: flex;
    flex-direction: column;
    overflow-y: auto;    
}

.work-bts ul{
    display: flex;
    flex-wrap: wrap;
}

.work-bts ul li{
    cursor: pointer;
    margin-right: 35px;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
} 

.work-bts ul li:hover{
    color: #00afaa;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 20px;
    grid-gap: 5px;
    height: calc(100% - 53px);
    width: 100%;
}

.gallery-item-wrapper{
    position: relative;
    overflow: hidden;
}

.gallery-item-wrapper>svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 29px;
    color: #fff;
}
.gallery-project-hover::after {
    content: '';
    display: block;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    top: 0;
    opacity: 0;
    left: 0;
    transition: opacity 0.4s ease-in-out
}

.gallery-project-hover{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gallery-project-hover.selected-gallery-item {
    background: rgba(24, 23, 23, 0.92);
}


.gallery-project-hover svg{
    font-size: 23px;
    color: #00afaa;
    pointer-events: none;
    transform: rotateY(90deg);
    transition: transform 0.4s cubic-bezier(0, 0.44, 0.26, 1.66)
}

.gallery-project-hover h4{
    font-size: 18px;
    margin-top: 9px;
    color: #00afaa;
    width: 100%;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.7px;
    transform: translate(-100%, 0);
    transition: transform 0.4s cubic-bezier(0.51, 0.21, 0.4, 1.1);
}

.gallery-project-hover p{
    margin: 0;
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    transform: translate(100%, 0%);
    transition: transform 0.4s cubic-bezier(0.51, 0.21, 0.4, 1.1);
}

.gallery-project-hover:hover::after{
    opacity: 0.86;
}

.gallery-project-hover:hover svg{
    transform: rotateY(0deg);
}

.gallery-project-hover:hover h4 {
    transform: translate(0%, 0%);
}

.gallery-project-hover:hover p{
    transform: translate(0%, 0%);
}

.portfolio-block{
    display: block;
    max-width: 100%;
    height: auto;
}

.selected-gallery-item{    
    pointer-events: none;   
}

.active-filter-button{
    color: #00afaa;
}

.pswp__zoom-wrap {
    display: flex;
    justify-content: center;
    align-items: center;    
}

  