/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Wedding
Version:	1.0.0
Author: 
Website: 
Purchase: 
-------------------------------------------------------------------
[Table of contents]
 
1. Body
2. Custom css / a
3. Preloader/ #preloader
4. Header Css Start / .wd_slider_wrapper
5. Button Css Start / .wd_btn
6. Heading Css Start / .wd_heading
7. About Wrapper css Start / .wd_about_wrapper
8. Story css Start / .wd_story_wrapper
9. Event css Start / .wd_event_wrapper
10. Guest css Start / .wd_guest_wrapper
11. Testimomnial css Start / .wd_testimonial_wrapper
12. Family css Start / .wd_family_wrapper
13. Gallery css Start / .wd_gallery_wrapper
14. Blog css Start / .wd_blog_wrapper
15. Contact css Start / .wd_contact_wrapper
16. Footer css Start / .wd_footer_wrapper
17. Responsive css Start / .wd_logo
*/

/*--------- Basic -------*/
body, html{
	/* font-family: 'Lora', serif; */
	font-size: 16px;
	line-height: 23px;
	color: #797979;
	/* overflow-x: hidden; */
}
/*---------- Custom Css Start -------*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900');
a {
	color: #797979;
	text-decoration: none;
}
a:hover, a:focus {
	color: #707070;
	text-decoration: none;
}
a:focus {
	outline: none;
}
ul {
    margin: 0px;
    padding: 0;
}
li {
    list-style: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	/* font-family: 'Great Vibes', cursive; */
	line-height: 1.1;
	font-weight:400;
    color: #222222;
    margin: 0;
}
input, select, button {
	outline: none;
}
input:focus, select:focus, button:focus {
	outline: none;
	box-shadow:none;
}
textarea {
	outline: none;
}
textarea:focus {
	outline: none;
	box-shadow:none;
}

/*-- Preloader css start --*/



/*-- Header Css Start --*/

.page {
    display: flex;
    height: 100vh;
}
.page > header {
    width: 40%;
    height: 100%;
}
nav {
    max-width: 590px;
}
nav ul {
    display: flex;
}

nav ul li {
    position: relative;
    font-size: 17px;
    display: flex;
    justify-content: center;
    width: 98px;
    overflow: hidden;
    z-index: 0;
    height: 100vh;
    cursor: pointer;
    transition: all 0.4s;
    box-shadow: 14px -1px 20px rgba(0, 0, 0, 0.77);
}

nav ul li a {
    position: absolute;
    color: #fff;
    z-index: 4;
    top: 50%;
    transition: all 0.4s;
}
nav ul li:before {
    content: '';
    display: block;
    width: 191px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.78);
    z-index: 3;
    transition: all 0.4s;
}
nav ul li:after {
    /* content: ''; */
    display: block;
    width: 2px;
    position: absolute;
    top: 60%;
    left: 50%;
    height: 60px;
    background: #fff;
    z-index: 3;
    transform: translate(-50%, -50%);
    transition: all 0.4s;
    
}

nav ul li:hover:before{
    background:rgba(0, 175, 170, 0.51);
}

nav ul li:hover {
    width: 120px;
    transition: all 0.4s;
}

nav ul li:hover a {
    /* top: 30%; */
}
nav ul li:hover:after{
    /* top: 45%; */
    height: 130px;
}

nav ul li:nth-child(1) {
    z-index: 11;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(http://localhost/blackPro-app/image/Home.jpg);
}
nav ul li:nth-child(2) {
    z-index: 10;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(http://localhost/blackPro-app/image/About.jpg);
}
nav ul li:nth-child(3) {
    z-index: 9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(http://localhost/blackPro-app/image/Services.jpg);
}
nav ul li:nth-child(4) {
    z-index: 8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(http://localhost/blackPro-app/image/Portfolio.jpg);
}
nav ul li:nth-child(5) {
    z-index: 7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(http://localhost/blackPro-app/image/Testimonials.jpg);
}
nav ul li:nth-child(6) {
    z-index: 6;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(http://localhost/blackPro-app/image/Contact.jpg);
}

#content {
    width: 70%;
}

#home-card{
    width: 100%;
    height: 100%;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(http://localhost/blackPro-app/image/Background.jpg);
}
.home-social-icon{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 80px;

}

.home-view{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr 1fr;
}
.home-main-screen {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.home-view>div{
    padding-right: 40px;
}
.home-video>div img {
    max-width: 640px;
    width: 100%;
    height: auto;
}
.home-video{
    justify-self: end;
    grid-column: 3/5;
    grid-row: 1/3;
}
.home-title{
    align-self: end;
    grid-column: 1/3;
    grid-row: 1/3;
}

.home-title h1{
  font-size: 5vw;
  color: #fff;
}
.home-title h2{
    font-size: 60px;
    color: #fff;
  }
/* header{
    display: flex;
    justify-content: space-between;
} */

.home-footer-info{
    display: flex;
    justify-content: space-between;
}


#about-card{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
    position: relative;
    top:0;
    z-index: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(http://localhost/blackPro-app/image/Video.jpg);
    transition: 0.5s;
}
#about-card p {
    padding:20px;
    background: black;
}
.on-card {
    top: -100% !important;  
    z-index: 1 !important;  
}
.off-card{
    top: 0% !important;  
}

